<form [formGroup]="entryForm" novalidate (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-card class="shipping-card">
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="Descriptions..."
                            formControlName="description"
                            [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                            #auto="matAutocomplete"
                            (optionSelected)="onAutocomplete($event)"
                        >
                            <mat-option
                                *ngFor="let option of (options$ | async)"
                                [value]="option"
                            >
                                {{ option.description }} ({{ option.calories }})
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error
                            *ngIf="
                                entryForm.touched &&
                                entryForm.controls['description'].hasError(
                                    'required'
                                )
                            "
                        >
                            Description <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-log-slider formControlName="calories"></app-log-slider>
                    <mat-error
                        *ngIf="
                            entryForm.touched &&
                            entryForm.controls['calories'].hasError('required')
                        "
                    >
                        Calories <strong>required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="
                            entryForm.touched &&
                            entryForm.controls['calories'].hasError('pattern')
                        "
                    >
                        Numbers <strong>only</strong>
                    </mat-error>
                    <!-- </mat-form-field> -->
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <mat-slide-toggle formControlName="exercise"
                >Exercise</mat-slide-toggle
            >
            <button
                #addbtn
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="entryForm.invalid"
            >
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>
