<form [formGroup]="entryForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="Calories..."
                            formControlName="calories"
                        />
                        <mat-error
                            *ngIf="
                                entryForm.controls['calories'].hasError(
                                    'required'
                                )
                            "
                        >
                            Calories <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="
                                entryForm.controls['calories'].hasError(
                                    'pattern'
                                )
                            "
                        >
                            Numbers <strong>only</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="Descriptions..."
                            formControlName="description"
                        />
                        <mat-error
                            *ngIf="
                                entryForm.controls['description'].hasError(
                                    'required'
                                )
                            "
                        >
                            Description <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="entryForm.invalid">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>
