<ng-container *ngIf="busy">
    <mat-card class="progress-card">
        <mat-card-content
            ><mat-progress-spinner
                [diameter]="50"
                [mode]="mode"
                [value]="progressPct"
            ></mat-progress-spinner>
            Busy chatting to Dropbox...
        </mat-card-content>
    </mat-card>
</ng-container>
<ng-container *ngIf="!busy">
    <ng-container *ngIf="!loggedIn">
        <mat-card>
            <mat-card-content>
                <div class="button-row">
                    <button
                        mat-stroked-button
                        color="accent"
                        (click)="onLogin()"
                    >
                        Login to Dropbox
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="loggedIn">
        <mat-card>
            <mat-card-content>
                <div class="button-row">
                    <button
                        mat-stroked-button
                        color="accent"
                        (click)="onLogout()"
                    >
                        Logout from Dropbox
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <button
                        *ngIf="hasLocalChanges"
                        mat-stroked-button
                        color="primary"
                        (click)="copyAllToCloud()"
                    >
                        Copy modified to cloud
                        <mat-icon>publish</mat-icon>
                    </button>
                    <button
                        *ngIf="!hasLocalChanges"
                        mat-stroked-button
                        color="primary"
                        disabled
                    >
                        Nothing to upload
                        <mat-icon>publish</mat-icon>
                    </button>
                    <button
                        mat-stroked-button
                        color="warn"
                        (click)="downloadAll()"
                    >
                        Download all from cloud
                        <mat-icon>get_app</mat-icon>
                    </button>
                </div>
                <div class="warning">
                    Attention! Downloading from the cloud may override local
                    data. Intelligent sync is not implemented yet.
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</ng-container>
