<ng-container *ngIf="!loggedIn">
    <div class="button-row">
        <button mat-stroked-button color="accent" (click)="onLogin()">
            Login to Dropbox
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
    <div class="info-paragraph caption">
        <p>
            Your calorie entries are currently stored only on this device. If
            you lose access to this device you will lose your data. <br />
            Click <strong>Login to Dropbox</strong> to sync your calorie entries
            to your Dropbox. Log in anywhere with the same Dropbox account and
            your entries will appear.
        </p>
        <ul>
            <li>
                This app will <strong>not</strong> read any personal data from
                your Dropbox account
            </li>
            <li>
                This app will <strong>only</strong> have access to it's own
                folder (<code>/Apps/app-nehmen</code>) and
                <strong>not</strong> your entire Dropbox
            </li>
        </ul>
    </div>
</ng-container>
<ng-container *ngIf="loggedIn">
    <div class="button-row">
        <button mat-stroked-button color="accent" (click)="onLogout()">
            Logout from Dropbox
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
    <div class="info-paragraph caption">
        <p>Logout of Dropbox to stop syncing your calorie entries.</p>
        <ul>
            <li>
                Entries up to this point will remain on your Dropbox until you
                delete them manually.
            </li>
            <li>
                You can decide to log in again to your Dropbox at a later time
                and all entries will be in sync again.
            </li>
        </ul>
    </div>
</ng-container>
