table {
    width: 100%;
}

::ng-deep {
    td.mat-cell[mat-cell],
    th.mat-header-cell[mat-header-cell] {
        padding-left: 10px;
        padding-right: 10px;
        .col-action {
            width: 10px;
        }
    }
}
