<ng-container *ngIf="(isCheatDay$ | async) === false">
    <mat-card>
        <mat-card-title>{{ caloriesLeft$ | async }}</mat-card-title>
        <mat-card-content> Calories left </mat-card-content>
    </mat-card>
    <app-add-entry></app-add-entry>
    <app-todays-entries></app-todays-entries>
</ng-container>
<mat-card *ngIf="(isCheatDay$ | async) === true">
    <mat-card-title>🎉 Happy cheat day! 🎉</mat-card-title>
    <mat-card-content>No logging, just enjoy your day</mat-card-content>
</mat-card>
