/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.full-width {
    width: 100%;
}

table.mat-table[mat-table] {
    width: 100%;

    td.mat-cell[mat-cell]:not(:first-of-type),
    th.mat-header-cell[mat-header-cell]:not(:first-of-type) {
        padding-left: 10px;
        &.col-action {
            width: 10px;
        }
        &.right {
            text-align: right;
        }
    }
}
