<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-card>
        <mat-card-title>Calories Left</mat-card-title>
        <mat-card-content>{{ caloriesLeft$ | async }}</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Eaten Stuff</mat-card-title>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item
                    role="listitem"
                    *ngFor="let entry of (entries$ | async)"
                    >{{ entry.calories }} - {{ entry.description }}
                    <button mat-mini-fab (click)="onDelete(entry)">
                        <mat-icon
                            aria-label="Example icon-button with a heart icon"
                            >delete</mat-icon
                        >
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
