<a href="https://github.com/tkglaser/app-nehmen"
    ><img
        style="position: absolute; top: 0; right: 0; border: 0; z-index: 1000;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
        alt="Fork me on GitHub"
/></a>
<form [formGroup]="configForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Settings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="Maximum Calories"
                            formControlName="maxCalories"
                        />
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="full-width">
                <select
                    matNativeControl
                    placeholder="Cheat day"
                    formControlName="cheatDay"
                >
                    <option
                        *ngFor="let option of cheatDayOptions"
                        [value]="option.id"
                    >
                        {{ option.text }}
                    </option>
                </select>
            </mat-form-field>
            <app-dropbox-settings></app-dropbox-settings>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="configForm.invalid"
            >
                Save
            </button>
        </mat-card-actions>
    </mat-card>
</form>
